* {
  font-family: 'Inconsolata', monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,133,1) 1%, rgba(26,165,194,1) 100%);
}